.catchcopy {
  position: relative;
  &--description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    @extend .fontfamily--orbitron;
  }
}