.button {
  padding: 6px 24px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #404040;
  box-shadow: 3px 2px 0 #606060;
  @extend .fontfamily--orbitron;
  font-size: 15px;
  cursor: pointer;
  &--primary {
    background: $color-primary;
  }
  &--outline {
    box-shadow: none;
    border: 2px dashed #909090;
    color: #909090;
  }
  &--large {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 36px;
  }
}