.select {
  & .css-1s2u09g-control, & .css-1pahdxg-control {
    width: 100%;
    height: 60px;
    border-radius: 16px;
    &:hover {
      border: none !important;
      box-shadow: none !important;
    }
  }
}